@using Microsoft.AspNetCore.Identity

<style>
    .book-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .book-item {
        width: calc(50% - 10px);
        min-width: 300px; /* Минимальная ширина элемента */
        margin-bottom: 20px;
        line-height: 1.4;
        border: 1px solid #ccc;
        padding: 20px;
        box-sizing: border-box;
    }

    .book-name {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .book-details {
        flex-grow: 1;
    }

    .book-info p {
        margin-bottom: 10px;
    }

    .btn-group {
        align-self: flex-end;
    }

    .img-container {
        width: 100%;
        max-width: 368px;
        height: auto;
        border: 1px solid #ccc;
    }

    .btn {
        margin: 10px 0px 10px 0px;
    }
</style>


<h1>Фильмы</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Добавить новую книгу</a>
    </p>
}
<div class="book-container">
    @foreach (var item in Model)
    {
        <div class="book-item">
            <div class="img-container">
                @if (!string.IsNullOrEmpty(item.ImageUrl))
                {
                    <img src="@Url.Content("~/images/")@item.ImageUrl" alt="@item.Name" class="card-img-top" />
                }
                else
                {
                    <img src="@Url.Content("~/images/")null_image.jpg" alt="@item.Name" class="card-img-top" />
                }
            </div>
            <div class="book-details">
                <p class="book-name">@item.Name</p>
                <div class="book-info">
                    <p><strong>Год:</strong> @item.</p>
                    <p><strong>Год:</strong> @item.Year</p>
                    <p><strong>Жанр:</strong> @item.Genre.Name</p>
                    <p><strong>Цена:</strong> @item.Price</p>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    bool inCart = ViewBag.Cart.Contains(item.Id);
                    <div class="btn-group">
                        @if (!inCart)
                        {
                            <a asp-action="Add" asp-controller="Cart" asp-route-id="@item.Id"
                               class="btn btn-info">В корзину</a>
                        }
                        else
                        {
                            <a asp-controller="Cart" asp-action="Index"
                               class="btn btn-info">Уже в корзине</a>
                        }
                        <a class="btn btn-info" asp-action="Reviews" asp-controller="Review" asp-route-id="@item.Id">Отзывы</a>
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </div>
                }
                else if (User.Identity.IsAuthenticated)
                {
                    bool inCart = ViewBag.Cart.Contains(item.Id);
                    bool purchbook = ViewBag.Purchasedbooks.Contains(item.Id);
                    <div class="card-footer">
                        @if (purchbook)
                        {
                            <a class="btn btn-info" style="background-color: green; border:none">Куплено</a>
                        }
                        else if (!inCart)
                        {
                            <a asp-action="Add" asp-controller="Cart" asp-route-id="@item.Id"
                               class="btn btn-info">В корзину</a>
                        }
                        else
                        {
                            <a asp-controller="Cart" asp-action="Index" class="btn btn-info">
                                &#10003; Уже в корзине
                            </a>
                        }
                        <a class="btn btn-info" asp-action="Reviews" asp-controller="Review" asp-route-id="@item.Id">Отзывы</a>
                    </div>
                }
                else
                {
                    <div class="card-footer">
                        <a asp-area="Identity" asp-controller="User" asp-action="Login" class="btn btn-info">В корзину</a>
                        <a class="btn btn-info" asp-action="Reviews" asp-controller="Review" asp-route-id="@item.Id">Отзывы</a>
                    </div>
                }
            </div>
        </div>
    }
</div>
