@using Microsoft.AspNetCore.Identity
@{
    var titleFilter = ViewBag.TitleFilter as string ?? "";
    var authorFilter = ViewBag.AuthorFilter as string ?? "";
    var publisherFilter = ViewBag.PublisherFilter as string ?? "";
}
<style>
    .book-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .book-item {
        width: calc(50% - 10px);
        min-width: 300px; /* Минимальная ширина элемента */
        margin-bottom: 20px;
        line-height: 1.4;
        border: 1px solid #ccc;
        padding: 20px;
        box-sizing: border-box;
    }

    .book-name {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .book-details {
        flex-grow: 1;
    }

    .book-info p {
        margin-bottom: 10px;
    }

    .btn-group {
        align-self: flex-end;
    }

    .img-container {
        width: 100%;
        max-width: 368px;
        height: auto;
        border: 1px solid #ccc;
    }

    .btn {
        margin: 10px 0px 10px 0px;
    }
</style>


<h1>Фильмы</h1>

@if (User.IsInRole("Admin"))
{
    <div style="display:inline-flex">
        <p>
            <a class="btn btn-primary" asp-action="Create">Добавить новую книгу</a>
        </p>
        <p>
            <a class="btn btn-primary" asp-action="Create" asp-controller="Publisher">Добавить новое издательство</a>
        </p>
        <p>
            <a class="btn btn-primary" asp-action="Create" asp-controller="Genre">Добавить новый жанр</a>
        </p>
        <p>
            <a class="btn btn-primary" asp-action="Create" asp-controller="Condition">Добавить новое состояние</a>
        </p>
    </div>
}

<button class="btn btn-secondary" onclick="toggleFilter()">Показать/Скрыть фильтр</button>

<div id="filterForm" style="display: none; margin-top: 20px;">
    <form method="get" asp-action="Index">
        <div class="form-group">
            <label for="title">Название</label>
            <input type="text" name="title" id="title" class="form-control" value="@titleFilter" />
        </div>
        <div class="form-group">
            <label for="author">Автор</label>
            <input type="text" name="author" id="author" class="form-control" value="@authorFilter" />
        </div>
        <div class="form-group">
            <label for="publisher">Издательство</label>
            <input type="text" name="publisher" id="publisher" class="form-control" value="@publisherFilter" />
        </div>
        <button type="submit" class="btn btn-primary">Поиск</button>
    </form>
</div>

<div class="book-container">
    @foreach (var item in Model)
    {
        <div class="book-item">
            <div class="img-container">
                @if (!string.IsNullOrEmpty(item.ImageUrl))
                {
                    <img src="@Url.Content("~/images/")@item.ImageUrl" alt="@item.Name" class="card-img-top" />
                }
                else
                {
                    <img src="@Url.Content("~/images/")null_image.jpg" alt="@item.Name" class="card-img-top" />
                }
            </div>
            <div class="book-details">
                <p class="book-name">@item.Name</p>
                <div class="book-info">
                    <p><strong>Автор:</strong> @item.Author</p>
                    <p><strong>Издательство:</strong> @item.Publisher.Name</p>
                    <p><strong>Год:</strong> @item.Year</p>
                    <p><strong>Жанр:</strong> @item.Genre.Name</p>
                    <p><strong>Срок возврата:</strong> @item.Days дней</p>
                    <p><strong>Кол-во в библиотеке:</strong> @item.Quantity</p>
                    <p><strong>Цена:</strong> @item.Price</p>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    bool inCart = false;
                    <div class="btn-group">
                        <a class="btn btn-info" asp-action="Reviews" asp-controller="Review" asp-route-id="@item.Id">Отзывы</a>
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </div>
                }
                else if (User.Identity.IsAuthenticated)
                {
                    bool inRent = ViewBag.Rent.Contains(item.Id);
                    <div class="card-footer">
                        @if (ViewBag.IsFine)
                        {
                            <a asp-action="Index" asp-controller="Fines" class="btn btn-info" style="background-color: red; border:none">Оплатите штрафы</a>
                        }
                        else if (inRent)
                        {
                            <a href="#" class="btn btn-info" style="background-color: green; border:none">&#10003; Уже у вас</a>
                        }
                        else if (item.Quantity == 0)
                        {
                            <a href="#" class="btn btn-info" style="background-color: deeppink; border:none">Закончился</a>
                        }
                        else
                        {
                            <form asp-action="Rent" asp-route-id="@item.Id" method="post">
                                <button class="btn btn-info">Арендовать</button>
                            </form>
                        }
                        <a class="btn btn-info" asp-action="Reviews" asp-controller="Review" asp-route-id="@item.Id">Отзывы</a>
                    </div>
                }
                else
                {
                    <div class="card-footer">
                        @if (item.Quantity == 0)
                        {
                            <a href="#" class="btn btn-info" style="background-color: deeppink; border:none">Закончился</a>
                        }
                        else
                        {
                            <a asp-area="Identity" asp-controller="User" asp-action="Login" class="btn btn-info">Арендовать</a>
                        }
                        <a class="btn btn-info" asp-action="Reviews" asp-controller="Review" asp-route-id="@item.Id">Отзывы</a>
                    </div>
                }
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        function toggleFilter() {
            var filterForm = document.getElementById("filterForm");
            if (filterForm.style.display === "none" || filterForm.style.display === "") {
                filterForm.style.display = "block";
            } else {
                filterForm.style.display = "none";
            }
        }
    </script>
}